.SignInForm {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 408px;
  padding: 32px 50px 40px 50px;
  border: 3px solid #f6f6f6;
  border-radius: 3px;
  align-items: center;
}

.SignInForm form {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

header {
  margin-bottom: 40px;
  text-align: center;
}

.SignInForm h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #414141;
}

.SignInForm h2 {
  color: #333;
}

.input-container {
  position: relative;
  width: 100%;
  height: 48px;
}

span.validation-error {
  font-size: 12px;
  position: absolute;
  top: -17px;
  right: 2px;
  width: 115px;
  text-align: center;
  color: #f6303f;
  background-color: #fff0f1;
}

.input-container:first-child {
  margin-bottom: 30px;
}

.input-fields {
  font-size: 16px;
  width: 300px;
  height: 48px;
  padding-left: 22px;
  color: #414141;
  border: 1.5px solid #f6f6f6;
  border-radius: 3px;
}

.floating-label {
  font-weight: 600;
  position: absolute;
  top: 16px;
  left: 22px;
  transition: .2s ease all;
  pointer-events: none;
  color: #ddd;
}

.input-fields:focus ~ .floating-label, .input-fields:not([value='']):not(:focus) ~ .floating-label {
  font-style: italic;
  top: -20px;
  left: 0;
  opacity: 1;
  color: #414141;
}

.has-error {
  border: 1px solid #f6303f;
}

.input-fields:focus {
  border: 1px solid #437cb6;
  border-radius: 3px;
  outline: none;
  -webkit-box-shadow: 0 0 4px 1px #daedff;
  -moz-box-shadow: 0 0 4px 1px #daedff;
  box-shadow: 0 0 4px 1px #daedff;
}

.formFooter {
  font-size: 12px;
  display: flex;
  margin: 20px 0;
}

.checkbox-keep-session > input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}

.checkbox-keep-session > input[type='checkbox']+label {
  position: relative;
  width: 20px;
  padding: 0;
  cursor: pointer;
}

.checkbox-keep-session > input[type='checkbox']+label:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  content: '';
  vertical-align: text-top;
  border: 1px solid #0053a1;
  border-radius: 3px;
  background: #fff;
}

.checkbox-keep-session > input[type='checkbox']:focus+label:before {
  box-shadow: 0 0 0 3px #f6f6f6;
}

.checkbox-keep-session > input[type='checkbox']:checked+label:before {
  border: 1px solid #0053a1;
  background: #0053a1;
}

.checkbox-keep-session > input[type='checkbox']:checked+label:after {
  position: absolute;
  top: 9px;
  left: 5px;
  width: 2px;
  height: 2px;
  content: '';
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: white;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
}

.checkbox-keep-session label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #414141;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

.formFooter a {
  margin-left: auto;
  text-decoration: none;
  color: #05549f;
}

.formFooter a:hover {
  text-decoration: underline;
}

.btn-submit {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  width: 300px;
  min-height: 50px;
  padding: 9px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  border-radius: 3px;
  background-color: #0053a1;
}

.btn-submit:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 4px 4px #daedff;
  -moz-box-shadow: 0 0 4px 4px #daedff;
  box-shadow: 0 0 4px 4px #daedff;
}
