.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 100px 70px 100px;
}

.divider {
  border: 0;
  height: 2px;
  background-color: #f9f9f9;
  width: 100%;
  margin: 70px 0;
}
