.App {
  display: flex;
  flex-direction: column;
  padding: 24px 100px 70px 100px;
  align-items: center;
}

.divider {
  margin: 70px 0;
    width: 100%;
}

.divider hr {
  width: 100%;
  height: 2px;
  border: 0;
  background-color: #f9f9f9;
}


/*==========  MEDIA QUERIES  ==========*/

/* iPad Pro Portrait */
@media only screen and (min-width: 1024px) and (min-height: 1366px) and (orientation: portrait) {
  .App {
    padding-top: 100px;
  }
}

/* iPad Portrait */
@media only screen and (min-width: 768px) and (min-height: 1024px) and (orientation: portrait) {
  .App {
    padding-top: 70px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .App {
    padding: 70px;
  }

  .divider {
    width: 100%;
    margin: 50px 20px;
    padding: 0 20px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .App {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media only screen and (max-width: 420px) {
  .App {
    padding-right: 20px;
    padding-left: 20px;
  }
}
