.Navbar {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  width: 100%;
  margin-bottom: 62px;
  flex-flow: row;
  justify-content: flex-start;
}

.logo {
  min-width: 213px;
}

.searchbar-form {
  margin-left: auto;
  align-self: center;
}

input {
  outline: none;
}

input[type=search] {
  font-family: inherit;
  font-size: 100%;
  width: 50px;
  max-height: 40px;
  padding: 12px 18px;
  cursor: pointer;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5 ease;
  transition: all .5s ease;

  color: transparent;
  border: none;
  border-radius: 4px;
  background: url('search.png') no-repeat center;
  background-color: #f0f7ff;
}

input[type=search]:focus {
  width: 200px;
  padding-left: 22px;
  cursor: auto;
  color: #000;
  background-color: #f0f7ff;
  background-position: 167px 12px;
}

input::-webkit-search-decoration, input::-webkit-search-cancel-button {
  display: none;
}

.searchbar-form input:-moz-placeholder {
  color: transparent;
}

.searchbar-form input::-webkit-input-placeholder {
  color: transparent;
}
