.Navbar {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  width: 100%;
  margin-bottom: 62px;
  flex-flow: row;
  justify-content: flex-start;
}

.logo {
  min-width: 213px;
}

.searchbar-form {
  margin-left: auto;
  align-self: center;
}

input {
  outline: none;
}

input[type=search] {

  /*avoid vendor specific styling*/
  -moz-appearance: none;/* older firefox */
  -webkit-appearance: none; /* safari, chrome */
  appearance: none; /* rest */

  font-family: inherit;
  font-size: 100%;
  width: 50px;
  max-height: 40px;
  padding: 12px 18px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5 ease;
  transition: all .5s ease;
  color: transparent;
  border: none;
  border-radius: 4px;
  background: url('search.png') no-repeat center;
  background-color: #f0f7ff;
}

input[type=search]:focus {
  width: 200px;
  padding-left: 22px;
  cursor: auto;
  color: #000;
  background-color: #f0f7ff;
  background-position: 167px 12px;
}

input::-webkit-search-decoration, input::-webkit-search-cancel-button {
  display: none;
}

.searchbar-form input:-moz-placeholder {
  color: transparent;
}

.searchbar-form input::-webkit-input-placeholder {
  color: transparent;
}


/*==========  MEDIA QUERIES  ==========*/

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .Navbar {
    padding: 0 80px;
    flex-flow: column;
  }
  .logo {
    width: 280px;
    max-width: 280px;
    margin-bottom: 40px;
    align-self: center;
  }
  .searchbar-form {
    display: flex;
    width: 100%;
    padding: 0;
    align-self: center;
    justify-content: center;
  }
  input[type=search] {
    width: 100%;
    padding-left: 32px;
    cursor: auto;
    color: #000;
    background-color: #f0f7ff;
    background-position: 12px 12px;
  }
  input[type=search]:focus {
    width: 100%;
    padding-left: 32px;
    background-position: 12px 12px;
  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 680px) {
  .Navbar {
    margin-bottom: 48px;
    padding: 0 20px;
    flex-flow: column;
  }
}

@media only screen and (max-width: 480px) {
  .Navbar {
    margin-right: 0;
    margin-bottom: 48px;
    margin-left: 0;
    padding: 0 20px;
    flex-flow: column;
  }
  .logo {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}


/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  .Navbar {
    margin-bottom: 30px;
    padding-right: 10%;
    padding-left: 10%;
  }
}
